.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.logo {
    width: 25%;
}
.headerItems {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vertically-align-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
