.post-container {
  background: linear-gradient(to right, rgb(248, 33, 33), rgb(254, 238, 17));
  border-radius: 4px;
  height: 100%;
  width: 100%;

  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.content-container {
  margin: 0;
  border-radius: 6px;
  background-color: antiquewhite;
  height: 100%;
  overflow-y: auto;

}

.image-describe {
  p
  {

  }
  img {
    display: block;
    margin: auto;
    width: 70%;
    height: 250px;
  }

}

.title {
  font-size: 20px;
}

.post-time {
  color: rgb(147, 146, 146);
}

.info {}

.author {
  span {
    color: rgb(15, 141, 199);
  }
}